*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 70px;
    width: 100%;
    color: #638C6D;
    background-color: black;
}
.butforpro{
    height: 70px;
    width: 100%;
    color: #638C6D;
    background-color: black;
   
}
.butforpro1{
    gap: 100px;
}

/* hero section start */
.herosection{
    height: 150vh;
    width: 100%;
}

.slider{
    height: 150vh;
    width: 100%;
    
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  /* prodectpage start */

  .im{
    border: 3px solid black;
    border-radius: 100%;
 
   width: 170px ;
   height: 110px ; 
     transition: transform 2s ease;
     margin-bottom: 30px;
    
 }
 .im:hover{
     transform: scale(1.1);
 }
 .box{
     width: 350px;
    
     height: 500px;
     border: 2px solid black;
     border-radius: 10px;
     background-color: #00ffff16;
   
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin-left: 130px;

 }
 .flex{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 250px; 
 }
 .box:hover{
    
     background-color: rgba(0, 183, 255, 0.325);
 }
 .ti{   
     font-size: 16px  ;
     text-align: center;
 }
 .ti1{   
     text-align: center;
 }
 .ti2{  
     text-align: center;
     transition: transform 2s ease;
 }
 .ti2:hover{
     transform: scale(1.1);
 }
 .ti3{
     text-align: center;
 }
 .des{
    width: 350px;
    display: flex;
    text-align: center;
 }
 .main{
    
     /* background-color: rgba(255, 228, 196, 0.394); */
 }

 /* add to cart page */
 .cartpage{
    height: 70px;
    width: 100%;
    color: #638C6D;
    background-color: black;
    margin-top: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
 }

