*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 250px;
    height: 300px;
    margin-top: 310px;
    margin-left: 45%;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #B7B1F2;
}

#countstart{
    width: 150px;
    height: 50px;
    font-size: 34px;
    background-color: #FFB8E0;
    border-radius: 50px;
}

#inputnumber{
    height: 40px;
}